@import '../../global.scss';

.portfolio {
    background-color: rgb(189, 2, 36);
    // background-image: url('../../../public/images/bigpage2.svg');
    background-size: contain;
    //  background-color: $secondaryLight;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(150vh - 75px) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    
    

.title {
    /* box-shadow: inset 0.4em 0px 0 white, inset 0 -0.7em 0 var(--midcolor), 0.7em 0.3em 0 -0.3em var(--midcolor); */

        background-image: linear-gradient(120deg, #ff4949 0%, #c22020 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.2em;
        background-position: 0 88%;
        transition: background-size 0.25s ease-in;
        &:hover {
          background-size: 100% 88%;
        }
    
    font-size: large;
    font-weight: bold;
}
        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 25px;
            margin-inline-end: 25px;
        }
    
    @include mobile{
        height: calc(200vh - 75px) !important;
    }

    // @include tiny{
    //     height: calc(240vh - 75px) !important;
    // }

    .bumper{
        border-radius: 8px;
        
       

    }

    h2{
        color: rgb(235, 246, 255);
        margin-top: 2rem;
        font-size: 1.5rem;
        font-weight: 500;

    }
    .line{
        width: 75px;
        height: 3px;
        background-color: rgb(255, 255, 255);
        margin-top: .5rem;
        border-radius: 10px;
        margin-bottom: 1rem;
    }
    h3{
        color: white;
        font-size: 2rem;
        font-weight: 500;
        margin-top: .3rem;
        @include mobile{
            font-size: 1.5rem;
            
        }
    }
    justify-content: center;
    display: flex;
    align-items: center;
    #explanation{
        width: 90%;
        height: 80%;
        background-color: rgb(255, 255, 255);
    }
    
}