@import '../../global.scss';



.Simulation {
    background-color: rgb(255, 255, 255);
    // background-image: url('../../../public/images/5two.svg');
    background-position: 10%;
     background-size: cover;

    background-repeat: no-repeat;
    // border-bottom: 2px solid $secondaryLight;

    @include mobile{
        flex-direction: column;
        align-items: center;


    }
    display: flex;
    align-items: center;
    justify-content: center;
    
    #sim{
        overflow: hidden;
        height: 600px;
        width: 1081px;
        background-color: rgba(169, 169, 169, 0.15); 
        border: 2px solid rgba(169, 169, 169, 0.15) ;
        backdrop-filter: blur(5px);
        
    }

    iframe{
        height: 600px;
        width: 1080px;
        
    }
    

}
