@import '../../../global.scss';

li{
    display: flex;
    display: column;
    font-size: 1rem;
    margin: 3rem;
    padding: .6rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease;
    
    &.active{
        background-color: $primaryDark;
        color: white;
    }

}