$primary: rgb(189, 2, 36) ;
$secondary: rgb(118, 10, 33);
$secondaryLight:#BD0224;
$primaryDark: #213458 ;
$tertiary: rgb(243, 232, 212);

$breakPointWidth: 948px;
@mixin mobile{
    @media (max-width: #{$breakPointWidth}){
        @content
    }
}

@mixin tiny{
    @media (max-width: #{$breakPointWidth - 500px}){
        @content
    }
}
