@import '../../global.scss';


.title-holder{

    margin-bottom: 1rem;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        margin-top: 2rem;
    }
}
.work {
    
    color: rgb(0, 0, 0);
    position: relative;
    // display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    



    .container{
        margin-top: 10rem;
        margin-left: auto;
        display: flex;
        align-self: center;
        margin-left: 7rem;

    }


    .line-2{
        width: 75px;
        height: 3px;
        background-color: black;
        margin-top: .69rem;
        border-radius: 10px;
        position: absolute;
        top: 100px;
    }
    .title-2{
        position: absolute;
        top: 65px;
        color: #000;
        font-weight: 500;
        font-size: 2rem;
        @include mobile{
            font-size: 1.5rem;
            
        }
    }
    h2.title{
        margin-top: 2rem;
        color: rgb(140, 140, 140);
        font-size: 1.5rem;
        position: absolute;
        top: 0px;
        font-weight: 500;
    }

    .title-holder{
        display: flex;
        flex-direction: column;
        justify-content: center;
       align-items: center;
    }



    .arrow{
        position: absolute;
        top: 330px;
        font-size: 5rem;
        font-weight: 100;
        color: #000;
        @include mobile{
            display: none;
        }

        &.left{
            left: 50px;
            transform: rotate(180deg);
            cursor: pointer;
        }


        &.right{
            right: 50px;
            cursor: pointer;
        }

        &.disabled{
            display: none;
            cursor: default;
        }
    }



    .slider {
        color: #000;
        display: flex;
        position: absolute;
        left:0;
        top: 170px;
        margin-right: 10rem;
        transition: all .75s ease;
        
        
        @include mobile{
            height: 190vh;
            flex-direction: column;
            justify-content: center;
            
        }

    }
}

